body {
  font: normal 14px/100% sans-serif;
  padding: 50px;
  color: #f1f1f1;
  margin: 0 auto;
  background-color: #374954;
  text-align: center;
}
.title {
  margin: 20px;
  text-align: left;
}
footer {
  margin: 20px;

  padding: 50px 0 20px 0;
}
.container {
  padding: 5px;
  color: black;
  font-size: 1.2rem;
  background-color: #f1f1f1;
  border: 2px solid #66bfbf;
  height: 50px;
}
.color-status {
  border: 1px solid coral;
  border-radius: 100%;
  background-color: sienna;
  width: 30px;
  height: 25px;
}
.copy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
